
.button {
-fx-border-color: #050261;
-fx-border-width: 2;
-fx-background-radius: 5;
-fx-border-radius: 5;
-fx-background-color: rgb(156, 198, 231);
-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
/*-fx-font-size: 14pt;*/
-fx-font-weight: bold;
-fx-text-fill: #020563;
}

.button:hover {
    -fx-background-color: darkgrey;
}

.button:focused {
    -fx-border-color: #3834a5;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

